/* global */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 44px;
  color: #48c26a;
}

.link {
  /* color: #48c26a; */
  font-weight: bold;
  color: hsl(0, 0%, 29%);
}

.col-mod {
  padding-left: 24px !important;
}

section.all-recipes {
  padding: 3rem 0.5rem;
}

@media (max-width: 1024px) {
  .col-mod {
    padding-left: 18px !important;
  }
}


/* .col-mod {
  padding-left: 24px !important;
} */


/* forms */

.input, button {
  margin-bottom: 8px;
}


.inner {
  padding-top: 24px;
}
.inner a {
  display: inline;
}

@media(max-width: 1024px) {
  .inner {
    text-align: right;
    margin-top: -20px;
    padding-top: 0px;
  }

  .inner a {

    display: block;
  }
}


/* navbar */

@media(max-width: 1024px) {
  .navbar-menu {
    z-index: 99;
    position: absolute !important;
    right: 0;
    margin-right: 2px;
    margin-top: -24px;
    width: 220px;
  }

}



.all-recipes {
  margin-top: -62px;
}
