

/* forms */

.input, button {
  margin-bottom: 8px;
}


.inner {
  padding-top: 24px;
}
.inner a {

  display: inline;
}

@media(max-width: 1024px) {
  .inner {
    text-align: right;
    margin-top: -20px;
    padding-top: 0px;
  }

  .inner a {

    display: block;
  }

  .navbar-menu {
    z-index: 99;
    position: absolute !important;
    right: 0;
    margin-right: 2px;
    margin-top: -24px;
    width: 220px;
  }

}


.all-recipes {
  margin-top: -62px;
}

.link {
  color: #48c26a;
  font-weight: bold;
}
